
 html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.7;
    background-color: #2E2E2E;
    background-size: 100%;
}

header {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

section {
            
            padding: 30px;
            max-width: 900px;
            margin: 20px auto;
            background: rgba(255, 255, 255, 0.6);
            /* margin-top: 20px; */
            border-radius: 10px;
        }

h2 {margin-top: 0;}

ul {padding-left: 20px;}

.img-box {
    width: 100%;
    height: 400px;
    background: #2E2E2E;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.col {
    display: flex;
    flex-direction: column; 
    height: auto;
}

.row:first-child {
    width: 100%;
    height: 95px;             
    background-color: #0D0D0D;
    padding-top:  10px;
          
    display: flex;
    align-items: center;
    justify-content: end;
}



.logo-content {
    display: flex;
    align-self: center;
    justify-self:start ;
    flex-direction: row;
    gap: 20px;
}

.nav-items {
    display: flex;
    gap: 25px;                
}


.item-nav-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 14px 22px;        
    font-size: 18px;          
    border-radius: 15px;
    color: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
}

.item-nav-bar:hover {
    transition-duration: 0.3s;
    transform: translateY(-3px) scale(1.07);  
}

.item-nav-bar svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}


.item-nav-bar:focus {
    background-color: #c1ff72;
    color: #2E2E2E;
    outline: 0;
}

.logout{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 14px 22px;        
    font-size: 18px;          
    border-radius: 15px;
    color: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
}


.logout svg{
    width: 22px;
    height: 22px;
    margin-right: 10px;    
}

.logout:hover{

    color: #c1ff72;
    text-decoration: underline;
}
.logout:focus{
    transition-duration: 0.3s;
    color: #c1ff72;
    background-color: #0D0D0D                                           ;
}


.row:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;

}

.container-main {
    width: 100%;
    height: 100%;
    text-align: start;
}

.container-main h1 {
    text-align: center;
}

.container-main img {
    display: flex;
    justify-self: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 30vw;

    border-radius: 15px;
    justify-self: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

.formulario input {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
}

.cadastro-content {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.validacao-senha-mensagem {    
    color: #868686;
}

#inicio_requisitos {
    color: white;
}







