html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.row{
    display: flex;
    height: 100vh;
}

.col:first-child{
    flex: 1;
    background-color: #0D0D0D;
    padding: 30px;
    padding-right:50px; 
    
}

.col:last-child{
    display: flex;
    flex: 20    ;
    background-color: #191a1f;
    background-size: 100%;
    align-items: start;
    justify-content: center;
    height: 100%;
    overflow: auto;
    
}

hr {
  border: none;           
  border-top: 2px solid #c1ff72; 
  margin-bottom: 40px;
}
.font-nav-bar{
    color: #F5F5F5;
}

.logo-content{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.item-nav-bar{
    display: flex;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border-radius: 15px;
    color: #F5F5F5; 
    align-items: center;
}

.item-nav-bar:hover{
    transition-duration: 0.5s ;
    padding: 10px;
    border-radius: 15px;
    color: #F5F5F5;
    transform: translateX(10px) scale(1.05);
}

svg{
    margin-right: 10px ;
}

.item-nav-bar:focus{
    background-color: #c1ff72;
    color: #2E2E2E;
    outline: 0;
}

.container-main{
    background-color: #191a1f;
    width: 80%;
    height: 80%;
    padding: 60px;
    color: #F5F5F5;
    text-align: center;
}

.validacao-senha-mensagem{
    
    
    
    /* label{
        background-color: #c1ff72;
        margin-bottom: 100px;
    } */
}
